<div class="row text-center">
    <div class="col-xs-1-12">
        <div class="card">
            <div class="card-body">
                <img src="https://image.shutterstock.com/image-photo/funny-cat-ophthalmologist-appointmet-squinting-260nw-598805597.jpg"
                    alt="">

            </div>
        </div>
        <div class="btn btn-secondary p-3 m-3 ">
            <a href="/">HOME</a>

        </div>
        <div class="btn btn-secondary p-3 m-3 ">
            <a href="/user/private">Private</a>
        </div>
    </div>

</div>