<div class="card">
      <p class="card-title font-weight-bold display-3  text-center">Neat and Private Page</p>
    <img class="card-img-top" src="https://media.giphy.com/media/4Semlrj6sB03K/giphy.gif" alt="">
    <div class="card-body">  
    </div>
</div>